body {
  font-family: 'Platypi', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
header {
  background-color: #ffcc00;
  padding: 20px;
  text-align: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container img {
  height: 50px;
  margin-right: 10px;
}
.navbar {
  margin-top: 10px;
}
.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
main {
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  color: #333;
}
.subtitle {
  font-size: 1.5em;
  color: #666;
}
footer {
  background: #f8f8f8;
  padding: 15px;
  text-align: center;
  border-top: 2px solid #ddd;
}

.footer-checkered {
  height: 10px;
  background: repeating-linear-gradient(
    45deg,
    #c0392b,
    #c0392b 10px,
    white 10px,
    white 20px
  );
  margin-bottom: 10px;
  }
